{% extends 'base.html.twig' %}

{% block title %}Create Task{% endblock%}

{% block body %}
    <h2 class="page-header">Add Task for {{ assignee.firstName }} {{ assignee.lastName }}</h2>
    {{form_start(form)}}
    {{form_widget(form)}}
    {{form_end(form)}}
{% endblock %}